.login {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.login__container {
  max-width: 950px;
  height: auto;
  margin: 20px;
}

.login__left {
  height: 100vh;
}

.login__greeting > p:nth-child(1) {
  font-size: 24px;
  font-weight: lighter;
}

.login__greeting > p:nth-child(2) {
  font-weight: 400;
  font-size: 42px;
}

.login__headerSignup > Button {
  background-color: #181c35;
  border: none;
  border-radius: 8px;
  color: #585d86;
  width: 146px;
  height: 50px;
  font-size: 16px;
  font-weight: bold;
}
.login__headerSignup > Button:hover {
  background-color: #171931;
  color: #fff;
}
.login__headerLogin > Button {
  color: #585d86;
  height: 50px;
  font-size: 16px;
  font-weight: bold;
  margin-left: 10px;
}
.login__headerLogin > Button:hover {
  color: #fff;
}
.login__formField {
  width: 100%;
  height: 90%;
}
.login__toggle {
  width: 100%;
}
.login__toggle > Button {
  background: #181c35;
  color: #fff;
  border: none;
  padding: 10px;
  width: 65px;
  height: 48px;
  margin: 0 -1px;
}
.login__toggle > Button:nth-child(1) {
  border-radius: 8px 0 0 8px;
}
.login__toggle > Button:nth-child(2) {
  border-radius: 0 8px 8px 0;
}
.login__toggle > Button:hover {
  transition: 0.1s;
  background: transparent;
  border-bottom: 2px solid #08b952;
}
.login__toggle .icon {
  width: 30px;
  height: 32px;
}
.login__toggleActive {
  border-bottom: 2px solid #08b952 !important;
}

@media only screen and (max-width: 991px) {
  .login__header {
    display: none !important;
  }
  .login__left {
    height: auto;
  }
  .login__container {
    height: 100vh;
  }
}
