.createhdwallet {
  width: 100%;
  height: auto;
}

.createhdwallet > Form {
  width: 100%;
}

.createhdwallet Input {
  background-color: #181c35 !important;
  color: #fff !important;
  font-size: 16px !important;
  font-weight: 600 !important;
}
.createhdwallet > span {
  color: #fff !important;
  font-size: 14px !important;
  font-weight: 500 !important;
  margin-top: 20px !important;
}
.createhdwallet__phoneField {
  background-color: #f09853 !important;
  color: #fff !important;
  font-size: 16px !important;
  font-weight: 600 !important;
  border: none !important;
  border-radius: 8px !important;
  height: 69px !important;
  margin-top: 10px !important;
  padding: 10px !important;
}
.createhdwallet__passwordField {
  border: none !important;
  border-radius: 8px !important;
  height: 69px !important;
  padding-left: 46px !important;
}

.createhdwallet__btnSignup {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.createhdwallet__btnSignup > Button {
  background: #08b952;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  width: 85%;
  height: 58px;
  border: none;
  border-radius: 8px;
}
.createhdwallet__btnSignup > Button:hover {
  background: #057634;
  color: #b3b3b3;
}
