.loginphone {
  width: 100%;
  height: auto;
}

.loginphone > Form {
  width: 100%;
}

.loginphone Input {
  background-color: #181c35 !important;
  color: #fff !important;
  font-size: 16px !important;
  font-weight: 600 !important;
  border: none !important;
  border-radius: 8px !important;
  margin: 10px 0 !important;
}

.loginphone__phoneField {
  height: 69px !important;
}
.loginphone__passwordField {
  height: 69px !important;
  border: none !important;
  border-radius: 8px !important;
  color: #fff !important;
}
.ant-input-password {
  background-color: #181c35 !important;
}
.ant-input-password-icon {
  color: #fff !important;
}
.loginphone__btnLogin {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.loginphone__btnLogin > Button {
  background: #08b952;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  width: 85%;
  height: 58px;
  border: none;
  border-radius: 8px;
}
.loginphone__btnLogin > Button:hover {
  background: #057634;
  color: #b3b3b3;
}

.loginphone__mSignup > a {
  color: #585d86;
  font-size: 16px;
  font-weight: bold;
}

.loginphone__mSignup > a > span {
  color: #40ff90;
}

@media only screen and (min-width: 992px) {
  .loginphone__mSignup {
    display: none !important;
  }
}
